container_commands:
  00_create_storage_dirs:
    command: "mkdir -p storage/framework/sessions storage/framework/views storage/framework/cache/data storage/logs"
  01_set_permissions:
    command: "chmod -R 775 storage bootstrap/cache"
  02_set_ownership:
    command: "chown -R webapp:webapp storage bootstrap/cache"
  03_clear_config:
    command: "php artisan config:clear || true"
  04_clear_cache:
    command: "php artisan cache:clear || true"
  05_clear_view:
    command: "php artisan view:clear || true"
  06_storage_link:
    command: "php artisan storage:link || true"
  07_migrate:
    command: "php artisan migrate --force || true"
    leader_only: true
  08_optimize:
    command: "php artisan optimize || true"

option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
