container_commands:
  01_set_permissions:
    command: "chmod -R 775 storage bootstrap/cache"
  02_set_ownership:
    command: "chown -R webapp:webapp storage bootstrap/cache"
  03_storage_link:
    command: "php artisan storage:link || true"
  04_migrate:
    command: "php artisan migrate --force || true"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
